.hamburger-list-class{
   overflow-y: hidden;
   height: 0px;
   padding: 0px;
   text-align: center;
}

#hamburger-icon i{
    margin-left: 80%;
    cursor: pointer;
}

.section {
    height: 100vh;
    overflow: hidden;
    /* border: 2px solid orange */
}


/* #home{background-color: red;} */
/* #about-section{background-color: orange;} */
/* #skill-section{background-color: aquamarine;} 
#exp-section{background-color: tomato;}
#achieve-section{background-color: brown;}
#portfolio{background-color: teal;}
#contact-section{background-color: springgreen;} */

html {
    scroll-behavior: smooth;
}

#home .profile-image{
    /* border: 2px solid red; */
    width: 250px;
    height: 250px;
}

svg{
    height:100%;
    /* -webkit-filter: drop-shadow( 4px 4px 2px  rgb(67, 106, 205)) drop-shadow( -4px -10px 2px  rgb(67, 106, 205)); */
            filter:  drop-shadow( 4px -4px 8px  rgb(45, 87, 193))  drop-shadow( -2px 2px 8px  rgb(45, 87, 193))  
}

svg #poly{
	fill:lightblue;
}



.description .letters{
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    position: absolute;
    left: 50px;
} 

.description .letters .letter{
    display: inline-block;
    line-height: 1em;
}


.dots {
    font-size: 20px;
    margin-top: 55%;
    height: 155px;
    width: 155px;
}
#sun {
    position: absolute;
    top: -55%;
    left: 35%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 4px 4px 10px 1px rgb(255, 120, 42),  -4px -4px 10px 1px rgb(255, 120, 42)  ;
}

#earth {
    height: 20px;
    width: 20px;
    background-color: rgb(22, 174, 216);
    box-shadow: 2px 2px 10px 1px rgb(255, 120, 42);
    border-radius: 50%;
}

.stars i {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: white;
}
