/*--------------- Custom Font ---------------------*/

@font-face {
	font-family: 'Lato-Light';
	src: url(../../assets/fonts/Lato/Lato-Light.ttf);
}

@font-face {
	font-family: 'Lato';
	src: url(../../assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url(../../assets/fonts/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url(../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: url(../../assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
	font-family: 'Dancing-Script-Regular';
	src: url(../../assets/fonts/Dancing_Script/static/DancingScript-Bold.ttf);
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url(../../assets/fonts/Dancing_Script/static/Poppins-Regular.ttf);
}

@font-face {
	font-family: 'Orbital';
	src: url(../../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

* {
	font-family: 'Montserrat-Regular';
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* Hamburger CSS */
.hamburger-list-class{
   overflow-y: hidden;
   height: 0px;
   padding: 0px;
   text-align: center;
}

#hamburger-icon i{
    margin-left: 80%;
    cursor: pointer;
}


/* Home Section */

#home svg{
    filter:  drop-shadow( 4px -4px 8px  rgb(45, 87, 193))  drop-shadow( -2px 2px 8px  rgb(45, 87, 193))  
}

#home svg #poly{
	fill:lightblue;
}

.description .letters{
    font-family: 'Orbital';
} 

.description .letters .letter{
    display: inline-block;
    line-height: 1em;
}

#earth {
    box-shadow: -2px -2px 10px 1px rgb(255, 120, 42);
    border-radius: 50%;
}

.stars i {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: white;
}


/* About Section */
h1 {
    font-family: 'Montserrat-Regular';
}

#about-section p {
    font-family: 'Lato-Light';
    word-spacing: 8px;
}


/* Skill Section */

#moon {
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
    opacity: 0.5;
}


#skills > div {
    filter: drop-shadow(0 0 0.2rem black);
}


/* Project */

.source i:hover {
    cursor: pointer;
    color:turquoise
}

.close-modal{
    color: black
}

.close-modal:hover {
    cursor: pointer;
    color: turquoise;
}

.modal-container {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}


.hide-modal {
    height: 0px;
}

.tech-stack span {
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255,255,255, 0.2);
}

.tech-stack span:hover {
    background-image: url("https://img.freepik.com/free-vector/sparkling-golden-stars-confetti-burst-background_1017-32368.jpg");
    background-position: center;
    background-size: cover;
}

.swiper .swiper-pagination-bullet {
    background: turquoise;
    height: 10px;
    width: 10px;
}


.swiper .swiper-slider-button:hover {
    color: #2b5876;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .swiper .swiper-slider-button:after {
        font-size: 20px;
  }
}
